<phpunit bootstrap="bootstrap.php">
    <coverage>
        <include>
            <directory>classes/</directory>
        </include>
        <report>
            <html outputDirectory="coverage/"/>
            <clover outputFile="clover.xml"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="tests">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
